* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg.png);
  background-size: cover;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.login-container {
  display: flex;
  background-color: #383737;
  color: white;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 5px;
}
.login-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.login-input-heading {
  text-align: center;
  padding: 10px;
}
.login-input-heading h3 {
  padding-bottom: 10px;
}
.login-input-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
label {
  font-size: x-small;
  font-weight: 900;
  padding-bottom: 2px;
}
input {
  height: 25px;
  margin: 5px 0px;
  background-color: #1e1f22;
  color: white;
  border: none;
  padding: 1px;
}
.login-input-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.login-input-register {
  display: flex;
}
.login-button {
  height: 30px;
  margin-bottom: 5px;
  background-color: #7100fc;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.link-button {
  background: none;
  border: none;
  color: #008afc;
  text-align: left;
  cursor: pointer;
}
span {
  font-size: small;
  padding-right: 2px;
}
.login-input-qr {
  padding: 10px;
}
.login-input-qr img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.login-input-desc {
  text-align: center;
  padding: 10px;
}
