* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg.png);
  background-size: cover;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.register-container {
  background-color: #383737;
  opacity: 1;
  color: white;
  width: 30%;
  position: absolute;
  left: 35%;
  top: 5%;
  border-radius: 10px;
  /* display: none; */
}
.register-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.register-input-heading {
  text-align: center;
}
.register-input-heading h3 {
  padding-bottom: 10px;
}
.register-input-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
label {
  font-size: x-small;
  font-weight: 900;
  padding-bottom: 2px;
}
input {
  height: 30px;
  margin: 5px 0px;
  background-color: #1e1f22;
  color: white;
  border: none;
  padding: 1px;
}
.birthdate {
  display: flex;
}
select {
  flex: 1;
  height: 30px;
  margin: 5px 5px;
  background-color: #1e1f22;
  color: white;
  border: none;
  padding: 1px;
}
.register-input-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.register-button {
  height: 30px;
  margin-bottom: 5px;
  background-color: #7100fc;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.register-input-login {
  padding: 10px;
}
.register-input-button input {
  vertical-align: middle;
  margin-right: 5px;
}
.register-input-login label {
  display: block;
}
.link-button {
  background: none;
  border: none;
  color: #008afc;
  text-align: left;
  cursor: pointer;
}