* {
  margin: 0;
}

@font-face {
  font-family: "ginto";
  src: url(/Discover/styles/Ginto-Nord-700.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ggsans";
  src: url(/Discover/styles/ggsans-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}


header{
    position: relative;
    width: 100%;
    background: transparent;
}
nav{
    position: absolute;
    height: 80px;
    display: flex;
    width: 85%;
    margin: 0px 100px 0px 100px;
    justify-content: space-between;
    align-items: center;
}
#logo-image {
  width: 100px;
}
#button-login {
  border-radius: 20px;
  width: 70px;
  height: 35px;
  border: 0px;
  cursor: pointer;
}
#button-login:hover {
  color: blue;
}
#nav-items {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: white;
  /* color: white; */
}
#profile-icon-div {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: white;
}
#profile-icon-div img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

#head-picture {
  background-image: url("/Discover/images/discover-main-image.jpg");
  background-size: 100% 100%;
  height: 400px;
  margin-bottom: 50px;
}
#head-picture-heading {
  color: white;
  font-size: 50px;
  font-family: ginto;
  /* display: flex; */
  width: 700px;
  text-align: center;
  margin-left: 300px;
  padding-top: 150px;
  line-height: 45px;
}
#head-pic-text {
  color: white;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 460px;
}

#main-feed-div {
  margin: 0px 200px 0px 200px;
}
#explore-search-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(235, 248, 254);
  border: 0px;
}
#explore-search-bar input:active {
  border: 2px solid rgb(122, 129, 255);
}
#searchbutton {
  width: 60px;
  border-radius: 10px;
  background-color: rgb(120, 125, 213);
  border: 0px;
}
#searh-button-image {
  width: 30px;
  cursor: pointer;
}
input[type="text"]:focus {
  outline: 2px solid rgb(39, 49, 249);
}
#search-box-div input:active {
  border: 2px solid rgb(39, 49, 249);
}
#search-box-div {
  width: 90%;
  height: 50px;
  background-color: rgb(213, 213, 213);

  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
#main-categories-div {
  position: relative;
  width: 28%;
  background-color: rgb(255, 255, 255);
}
.category {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 12px 5px 12px 5px;
  justify-content: space-between;
  cursor: pointer;
}
.category:hover {
  background-color: rgb(235, 235, 235);
}
.category-image {
  width: 35px;
}
.left-side-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar-searchbutton {
  display: flex;
  justify-content: space-between;
}
#div-with-feeds {
  position: absolute;
  left: 37%;
  top: 91%;
  width: 55%;
}
.feed1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.feedImageDiv{
    width: 200px;
    height: 200px;
    align-items: center;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
}
.feed-image{
    width: 170px;
    background-size: contain;
}
.feed-heading{
    padding:10px 20px 20px 0px;
    cursor: pointer;
}
.feed-content {
  padding: 10px 20px 20px 0px;
}
.feed-right-side {
  margin-left: 10px;
}
#make-public {
  width: 100%;
  height: 320px;
  background-color: blue;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#make-public-heaing {
  color: white;
  width: 1000px;
  font-family: ggsans;
}
#make-public-button {
  padding: 10px;
  height: 60px;
  width: 300px;
  background-color: black;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  margin-left: 160px;
  border: 0px;
  font-family: ggsans;
}

#inner-make-public {
  /* display: flex;
    justify-content: center; */
  /* align-items: center; */
  justify-content: center;
  width: 650px;
  height: 100px;
}
#pages-number{
    margin-top: 220%;
    margin-left: 37%;
}
.page {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
  border: 0px;
}
.page:hover {
  color: white;
  background-color: rgb(83, 83, 255);
}
.page-active {
  color: white;
  background-color: rgb(83, 83, 255);
}
#find-a-place {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 248, 255);
}
#find-a-place-text {
  width: 40%;
  height: 400px;
  font-family: ggsans;
  align-items: center;
}
#find-a-place-picture {
  width: 40%;
  height: 400px;
  background-color: rgb(255, 140, 0);
}
#find-a-place-heading {
  font-size: 40px;
  font-family: ggsans;
  margin-top: 30px;
  margin-left: 70px;
}
#find-a-place-paragraph {
  font-family: ggsans;
  font-weight: 50;
  margin-left: 70px;
}
#join-discord-button {
  width: 300px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 50px;
  margin-left: 90px;
  font-family: ggsans;
}
footer {
  height: 80vh;
  width: 100%;
  background-color: black;
  color: white;
}
#footer-top {
  height: 60vh;
  width: 100%;
  color: white;
  display: flex;
}
#footer-heading-1 {
  margin-top: 100px;
  margin-left: 100px;
  font-family: ginto;
  font-size: 30px;
  color: rgb(80, 80, 250);
  width: 230px;
}
.footer-details {
  margin-top: 100px;
  display: flex;
  width: 50px;
  margin-left: 130px;
  line-height: 30px;
}
#footer-line {
  width: 82%;
  align-items: center;
  margin-left: 90px;
  border: 1px solid rgb(80, 80, 250);
}
#footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 30px 140px 0px 100px;
}
#footer-signup {
  background-color: rgb(80, 80, 250);
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
}
