body {
  font-family: myFirstFont;
}
@font-face {
  font-family: myFirstFont;
  src: url(/Discord-Cloning/Support/fonts/Ginto-Nord-700\ 2.woff);
}

.timeline-Search {
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  display: flex;
  justify-content: space-between;
}
.timeline {
  flex: 1;
}
.timeline-list {
  list-style: none;
  max-width: 450px;
  display: flex;
}
.timeline ol li a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5865f2;
  margin: 0.4px;
}
.timeline ol li a:hover {
  text-decoration: underline;
  margin: 0.4px;
}
.timeline ol .secondary-element::before {
  content: ">";
  color: #5865f2;
}
.timeline-searchBar {
  flex: 1;
  text-align: right;
  margin-top: 10px;
  width: 500px;
  height: 50px;
}
#timeline-searchbar input {
  width: 500px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  font-size: 25px;
}
.submit-request-title {
  line-height: 50px;
}
#submit-request-list {
  width: 400px;
  height: 30px;
  font-size: 20px;
}
