.header {
  width: 100%;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
}
#header-icon-image {
  width: 275px;
  height: 100px;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  overflow: hidden;
}
.navbar-nav a {
  text-align: center;
  text-decoration: none;
  color: #5865f2;
  font-size: 15px;
  padding: 30px;
}

#header-navigationBar-language {
  appearance: none;
  border: none;
  text-align: center;
  font-family: myFirstFont;
  color: #5865f2;
  font-size: 15px;
  padding: 30px;
}
.navbar-nav a:hover {
  text-decoration: underline;
}
.navbar-nav a.icon {
  display: none;
}
.more-links {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
}
.more-links button {
  background-color: green;
  border-radius: 100px;
  width: 450px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: none;
}
