body {
  font-family: myFirstFont;
}
@font-face {
  font-family: myFirstFont;
  src: url(/Discord-Cloning/Support/fonts/Ginto-Nord-700\ 2.woff);
}
.header {
  display: flex;
  width: 1570px;
  justify-content: space-between;
  position: relative;
}
.header-icon {
  flex: 1;
}
#header-icon-image {
  width: 275px;
  height: 100px;
}
.header-navigationBar {
  flex: 1;
  flex-direction: right;
  text-align: center;
  overflow: hidden;
}
.header-navigationBar a {
  align-items: right;
  text-decoration: none;
  color: #5865f2;
  font-size: 15px;
  padding: 30px;
}

#header-navigationBar-language {
  appearance: none;
  border: none;
  font-family: myFirstFont;
  color: #5865f2;
  font-size: 15px;
  padding: 30px;
}
.header-navigationBar a:hover {
  text-decoration: underline;
}
.timeline-Search {
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  display: flex;
  justify-content: space-between;
}
.timeline {
  flex: 1;
}
.timeline-list {
  list-style: none;
  max-width: 450px;
  display: flex;
}
.timeline ol li a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5865f2;
  margin: 0.4px;
}
.timeline ol li a:hover {
  text-decoration: underline;
  margin: 0.4px;
}
.timeline ol .secondary-element::before {
  content: ">";
  color: #5865f2;
}
.timeline-searchBar {
  flex: 1;
  text-align: right;
  margin-top: 10px;
  width: 500px;
  height: 50px;
}
#timeline-searchbar input {
  width: 500px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  font-size: 25px;
}
.submit-request-title {
  line-height: 50px;
}
#submit-request-list {
  width: 400px;
  height: 30px;
  font-size: 20px;
}
.more-links {
  width: 100%;
  height: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
}
.other-links {
  display: flex;
}
.other-links-button {
  flex: 1;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  display: flex;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.other-links button {
  background-color: green;
  border-radius: 100px;
  align-items: center;
  margin-left: 600px;
  width: 450px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: none;
}
