*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    width: 100%;
    background: transparent;
}
nav{
    height: 80px;
    display: flex;
    width: 85%;
    margin: 0px 100px 0px 100px;
    justify-content: space-between;
    align-items: center;
}
#logo-image{
    width: 100px;
}
#button-login{
    border-radius: 20px;
    width: 70px;
    height: 35px;
    border: 0px;
    cursor: pointer;
}
#button-login:hover{
    color: blue;
}
#nav-items{
    width:60%;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    /* color: white; */
}
.header{
    display: flex;
    background-color: #5865f2;
    padding-top: 210px;
    padding-left: 70px;
    padding-right:70px;
    padding-bottom: 70px;
}
.header-left{
    flex: 1;
}
.header-right{
    flex: 1;
}
@font-face {
    font-family: "discordfont";
    src: url(/Discord-Cloning/Safety/styles/Ginto-Nord-700.woff) format('woff');
  }
.header-heading{
    color: white;
    font-family:discordfont;
    font-size: 50px;
    font-weight: 980;
    max-width: 595px;
    line-height: 100%;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.header-paragraph p{
    color: white;
    font-family: Ggsans,sans-serif;
    font-size: 15px;
    padding-bottom: 13px;
    line-height: 24px;
}
.header-image{
   width: 20px;
   height: 40px;
}
.button-style{
    background-color: white;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 300px;
    height: 100px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 5px 5px 0 1px #57F287;
    padding: 37px 30px;
    transition: all .35s;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 30px;
}
.button{
    display: flex;
    background-color: #5865f2;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}
.button-style:hover{
    background-color: #57F287;
    border: 2px solid #57F287;
    box-shadow: 5px 5px 0 1px black;
    text-decoration: none;
    transition: all .35s;
}
.button-font{
    font-size: 17px;
    font-family: discordfont;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
}
.youtube{
    display: flex;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}
.youtube-video{
    flex: 3;
    align-items: center;
}
.youtube-video h1{
    font-family: ABCGintoNormal-Bold,sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.youtube-left-star img{
    width: 150px;
    height: 150px;
    padding-right: 100px;
}
.youtube-left-star{
    flex: 1;
   padding-top: 100px;
}
.youtube-right-star img{
    width: 140px;
    height: 150px;
}
.youtube-right-star{
    flex: 1;
   padding-top: 350px;
   padding-left: 100px;
}
.safety-detail-content{
    display: flex;
    background-color: #f6f6f6;
    padding-top: 100px;
    padding-left: 70px;
    padding-right:70px;
    padding-bottom: 70px;
}
.safety-detail-text{
    flex: 1;
}
.safety-detail-image{
    flex: 1;
}
.safety-detail-heading{
    color: black;
    font-family:Ggsans,sans-serif;
    font-size: 45px;
    font-weight: 980;
    max-width: 595px;
    line-height: 27px;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 38px;
}
.safety-detail-paragraph p{
    color: #50555f;
    font-family: Ggsans,sans-serif;
    font-size: 16px;
    padding-left: 50px;
    padding-bottom: 26px;
    line-height: 24px;
}
.safety-detail-image{
    width: 20px;
   height: 40px;
}
.safety-detail-explore-more{
    color: black;
    font-family: Ggsans,sans-serif;
    padding-left: 50px;
    display: flex;
}
.safety-detail-explore-more-text{
    padding-right: 10px;
}
.arrow{
  width: 20px;
  height: 20px;
  border-radius:20px;
  background: #5865f2;
  position: relative;
}
.arrow:hover{
  
  animation: exploremore 0.5s;
  animation-direction: normal;
}
@keyframes exploremore {
    0%   {background: #5865f2; left: 0px; top: 0px;}
    100%  {background: #5865f2; left: 3px; top: 0px;}
  }
  .arrow img{
    width: 10px;
    height: 10px;
    border-radius:10px;
    padding-left: 5px;
  }