* {
  margin: 0;
  padding: 0;
}
header {
  position: absolute;
  width: 100%;
  background: transparent;
}
nav {
  height: 80px;
  display: flex;
  width: 85%;
  margin: 0px 100px 0px 100px;
  justify-content: space-between;
  align-items: center;
}
#logo-image {
  width: 100px;
}
#button-login {
  border-radius: 20px;
  width: 70px;
  height: 35px;
  border: 0px;
  cursor: pointer;
}
#button-login:hover {
  color: blue;
}
#nav-items {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: white;
  /* color: white; */
}
#profile-icon-div {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50px;
}
#profile-icon-div img {
  height: 50px;
  width: 50px;
}
.header {
  display: flex;
  background-color: #5865f2;
  padding-top: 210px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}
.header-left {
  flex: 1;
}
.header-right {
  flex: 1;
}
.header-right img {
  width: 450px;
  height: 380px;
  margin-left: 60px;
}
@font-face {
  font-family: "discordfont";
  src: url(/Safety/styles/Ginto-Nord-700.woff) format("woff");
}
.header-heading {
  color: white;
  font-family: discordfont;
  font-size: 50px;
  font-weight: 980;
  max-width: 595px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.header-paragraph p {
  color: white;
  font-family: Ggsans, sans-serif;
  font-size: 15px;
  padding-bottom: 13px;
  line-height: 24px;
}
.header-image {
  width: 20px;
  height: 40px;
}
.button-style {
  background-color: white;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 300px;
  height: 100px;
  border-radius: 12px;
  border: 2px solid white;
  box-shadow: 5px 5px 0 1px #57f287;
  padding: 37px 30px;
  transition: all 0.35s;
  text-decoration: none;
  margin-left: 30px;
  margin-bottom: 30px;
}
.button {
  display: flex;
  background-color: #5865f2;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
}
.button-style:hover {
  background-color: #57f287;
  border: 2px solid #57f287;
  box-shadow: 5px 5px 0 1px black;
  text-decoration: none;
  transition: all 0.35s;
}
.button-font {
  font-size: 17px;
  font-family: discordfont;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
}
.youtube {
  display: flex;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
.youtube-video {
  flex: 3;
  align-items: center;
}
.youtube-video h1 {
  font-family: ABCGintoNormal-Bold, sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.youtube-left-star img {
  width: 150px;
  height: 150px;
  padding-right: 100px;
}
.youtube-left-star {
  flex: 1;
  padding-top: 100px;
}
.youtube-right-star img {
  width: 140px;
  height: 150px;
}
.youtube-right-star {
  flex: 1;
  padding-top: 350px;
  padding-left: 100px;
}
.safety-detail-content {
  display: flex;
  background-color: #f6f6f6;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}
.safety-detail-text {
  flex: 1;
}
.safety-detail-image {
  flex: 1;
  /* width: 100%;
    height: 100%; */
}
.safety-detail-image img {
  margin-left: 70px;
  width: 430px;
  height: 280px;
  border-radius: 10px;
}
.safety-detail-heading {
  color: #23272a;
  font-family: Ggsans, sans-serif;
  font-size: 45px;
  font-weight: 800;
  /* max-width: 595px; */
  line-height: 27px;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 38px;
}
.safety-detail-paragraph p {
  color: #50555f;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding-left: 50px;
  padding-bottom: 26px;
  line-height: 24px;
}
.safety-detail-explore-more {
  color: black;
  font-family: Ggsans, sans-serif;
  padding-left: 50px;
  display: flex;
}
.safety-detail-explore-more-text {
  padding-right: 10px;
}
.arrow {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #5865f2;
  position: relative;
}
.arrow:hover {
  animation: exploremore 0.5s;
  animation-direction: normal;
}
@keyframes exploremore {
  0% {
    background: #5865f2;
    left: 0px;
    top: 0px;
  }
  100% {
    background: #5865f2;
    left: 3px;
    top: 0px;
  }
}
.arrow img {
  width: 15px;
  height: 10px;
  border-radius: 10px;
  padding-left: 5px;
}
footer {
  background-color: #23272a;
}
.center-nav a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-nav {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}
.socials {
  flex: 1;
  justify-content: space-between;
  margin-top: 50px;
  color: white;
}
.column {
  margin-top: 50px;
  text-decoration: none;
  line-height: 30px;
  margin-left: 20px;
  color: #7289da;
  margin-right: 50px;
}
.column a {
  color: rgb(146, 139, 139);
  text-decoration: none;
}

.footer-bar {
  display: flex;
  border-top: 1px solid #7289da;
}
#x1 {
  padding-top: 10px;
  padding-right: 20px;
}

.footer-bar-image img {
  height: 60px;
  width: 124px;
  flex: 1;
  margin-left: 40px;
  margin-top: 30px;
}
.footer-bar-signup {
  align-items: end;
  background-color: #5865f2;
  border-radius: 28px;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 500;

  height: 10px;
  margin-left: 950px;
  margin-top: 30px;
  font-family: discordfont;
  /* width: 10px; */
}
.footer-bar-signup a {
  text-decoration: none;
  color: #fff;
}
#flag {
  height: 30px;
  width: 50px;
}
.safety-detail-image img:hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.header-next {
  display: flex;
  background-color: #5865f2;
  padding-top: 140px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
}
.header-right-next img {
  width: 550px;
  height: 450px;
  margin-left: 26px;
}
.header-left-next {
  flex: 1.2;
  margin-top: 150px;
}
.header-right-next {
  flex: 1.3;
}
.header-heading-next {
  color: white;
  font-family: discordfont;
  font-size: 50px;
  font-weight: 980;
  max-width: 595px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.header-paragraph-next p {
  color: white;
  font-family: Ggsans, sans-serif;
  font-size: 15px;
  padding-bottom: 13px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #5865f2;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  display: inline-block;
}
.discord-popup-image {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  /* padding: 16px 20px; */
  bottom: 23px;
  right: 28px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #5865f2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: white;
  border: solid #5865f2;
  color: #5865f2;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
.chat-popup h1 {
  color: #5865f2;
}
.chat-popup b {
  color: #5865f2;
  font-size: 26px;
}

#chat1 .form-outline .form-control ~ .form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: 0.65rem 0 0 0.65rem;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-middle {
  flex: 0 0 auto;
  max-width: calc(100% - 1rem);
  height: 100%;
  border-right: none;
  border-left: none;
}

#chat1 .form-outline .form-control ~ .form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 0.65rem 0.65rem 0;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-label {
  color: #39c0ed;
}

#chat1 .form-outline .form-control ~ .form-label {
  color: #bfbfbf;
}