* {
  margin: 0;
}

@font-face {
  font-family: "ginto";
  src: url(../styles/Ginto-Nord-700.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ggsans";
  src: url(../styles/ggsans-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  position: absolute;
  width: 100%;
  background: transparent;
}
nav {
  height: 80px;
  display: flex;
  width: 85%;
  margin: 0px 100px 0px 100px;
  justify-content: space-between;
  align-items: center;
}
#logo-image {
  width: 100px;
}
#button-login {
  border-radius: 20px;
  width: 70px;
  height: 35px;
  border: 0px;
  cursor: pointer;
}
#button-login:hover {
  color: blue;
}
#nav-items {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: white;
  /* color: white; */
}
#profile-icon-div {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: white;
}
#profile-icon-div img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

#head-picture {
  background-color: rgb(79, 79, 255);
  background-size: 100% 100%;
  height: 180vh;
  margin-bottom: 50px;
}
#head-picture-heading {
  color: white;
  font-size: 50px;
  font-family: ginto;
  /* display: flex; */
  width: 700px;
  text-align: center;
  margin-left: 300px;
  padding-top: 150px;
  line-height: 45px;
}
#head-pic-text {
  color: white;
  width: 680px;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 310px;
}
footer {
  height: 80vh;
  width: 100%;
  background-color: black;
  color: white;
}
#footer-top {
  height: 60vh;
  width: 100%;
  color: white;
  display: flex;
}
#footer-heading-1 {
  margin-top: 100px;
  margin-left: 100px;
  font-family: ginto;
  font-size: 30px;
  color: rgb(80, 80, 250);
  width: 230px;
}
.footer-details {
  margin-top: 100px;
  display: flex;
  width: 50px;
  margin-left: 130px;
  line-height: 30px;
}
#footer-line {
  width: 82%;
  align-items: center;
  margin-left: 90px;
  border: 1px solid rgb(80, 80, 250);
}
#footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 30px 140px 0px 100px;
}
#footer-signup {
  background-color: rgb(80, 80, 250);
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
  cursor: pointer;
}
#career-head-img1 {
  position: absolute;
  width: 350px;
  top: 50%;
  border-radius: 25px;
}
#career-head-img2 {
  position: absolute;
  width: 700px;
  left: 300px;
  top: 65%;
  z-index: 50;
  border-radius: 25px;
}
#career-head-img3 {
  position: absolute;
  width: 270px;
  left: 69%;
  top: 50%;
  border-radius: 25px;
}
#career-head-img4 {
  position: absolute;
  width: 200px;
  top: 143%;
  left: 10%;
  border-radius: 25px;
}
#career-head-img5 {
  position: absolute;
  width: 350px;
  height: 200px;
  left: 65%;
  top: 140%;
  border-radius: 25px;
}
#careers-table-head {
  margin: 100px 0px 50px 0px;
  font-size: 50px;
  font-family: ginto;
}
