.header{
    display: flex;
    background-color: #5865f2;
    padding: 55px;
}
.header-left{
    flex: 1;
}
.header-right{
    flex: 1;
}
@font-face {
    font-family: "discordfont";
    src: url(Ginto-Nord-700.woff) format('woff');
  }
.header-heading{
    color: white;
    font-family:discordfont;
    font-size: 50px;
    font-weight: 980;
    max-width: 595px;
    line-height: 100%;
    text-transform: uppercase;
}
.header-paragraph p{
    color: white;
    font-family: Ggsans,sans-serif;
    font-size: 15px;
    padding-bottom: 13px;
    line-height: 24px;
}
.header-image{
   width: 20px;
   height: 40px;
}
.button-style{
    background-color: white;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 300px;
    height: 100px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 5px 5px 0 1px #57F287;
    padding: 37px 30px;
    transition: all .35s;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 30px;
}
.button{
    display: flex;
    background-color: #5865f2;
    padding-left: 80px;
    padding-bottom: 40px;
}
.button-style:hover{
    background-color: #57F287;
    border: 2px solid #57F287;
    box-shadow: 5px 5px 0 1px black;
    text-decoration: none;
    transition: all .35s;
}
.button-font{
    font-size: 17px;
    font-family: discordfont;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
}
.youtube{
    display: flex;
    background-color: white;
    padding-top: 70px;
}
.youtube-video{
    flex: 3;
    align-items: center;
}
.youtube-video h1{
    font-family: ABCGintoNormal-Bold,sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.youtube-left-star img{
    width: 150px;
    height: 150px;
    padding-right: 100px;
}
.youtube-left-star{
    flex: 1;
   padding-top: 100px;
}
.youtube-right-star img{
    width: 140px;
    height: 150px;
}
.youtube-right-star{
    flex: 1;
   padding-top: 350px;
   padding-left: 100px;
}