
* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "discordfont";
    src: url(/Homepage/styles/Ginto-Nord-700.woff) format("woff");
  }


#logo img {
    width: 100px;
}

header
{
    background-color:  #23272a;
}
/* .top-container
{
    background-color:  #23272a;
} */

.center-box
{
    color: white;
}
.secondmain
{
    background-color: #23272a;
    padding: 50px;
    
}

#dfw
{
    width: auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #5865f2;
    border-radius: 28px;
    align-items: center;
    margin-top: 0;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: all .2s;
    display: flex;
}